.data_value {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  > p {
    font-size: 35px;
    font-weight: 700;
    margin: 0px;
    transform: translateY(7px);
  }

  > span {
    text-align: center;
    font-size: 13px;
    margin: 0px 0px 0px 10px;
  }
}
