@import "../styles/variables.scss";

.stat {
  background-image: url("/images/stas.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.main {
  display: block;
  transform: translateY(134px);

  .carousel_root {
    > div {
      width: 100vw;
      height: 400px;
      border-top: 2px solid #48a5b3;
      box-shadow: 17px 19px 21px -13px rgba(74, 74, 74, 0.8);
    }
  }

  .slider_mobile {
    display: none;
    @media (max-width: 768px) {
      display: block;
      transform: translateY(34px);
    }
  }

  .slider_desktop {
    display: block;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .main_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 30px;
    max-width: 1400px;
    margin: 0 auto;

    @media (max-width: 1024px) {
      padding: 20px 15px;
    }

    .head {
      font-size: 28px;
      font-weight: 400;
      padding: 0px;
      margin: 0px;
    }

    .divider {
      display: flex;
      align-items: center;
      justify-content: stretch;
      gap: 10px;
      opacity: 0.2;

      .line {
        height: 2px;
        width: calc(30vw - 10px);
        background-color: #999;
      }

      > div {
        > svg {
          color: #999;
          font-size: 30px;
        }
      }
    }

    .sdgs_awards_layout {
      display: flex;
      gap: 40px;
      width: 100%;
      margin-top: 30px;

      @media (max-width: 1024px) {
        flex-direction: column;
        gap: 30px;
      }

      .section_title {
        font-size: 22px;
        font-weight: 600;
        color: #333;
        text-align: center;
        margin: 0 0 25px 0;
        padding-bottom: 12px;
        border-bottom: 3px solid #4a90e2;
      }

      // Left Side - SDGs Section
      .sdgs_section {
        flex: 1;
        display: flex;
        flex-direction: column;

        .sdg_image_container {
          width: 100%;

          img {
            width: 100% !important;
            height: auto !important;
            display: block;
          }
        }
      }

      // Right Side - Awards Section
      .awards_section {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .awards_title {
          font-size: 24px;
          font-weight: 600;
          color: #333;
          text-align: center;
          margin: 0 0 20px 0;
          padding-bottom: 10px;
          border-bottom: 2px solid #e0e0e0;
        }

        .award_box {
          background: white;
          border: 2px solid #4a90e2;
          border-radius: 8px;
          overflow: hidden;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

          .award_header {
            background: #4a90e2;
            color: white;
            font-size: 20px;
            font-weight: 600;
            padding: 15px 20px;
            text-align: center;
          }

          .award_content {
            padding: 20px;

            .award_description {
              p {
                font-size: 16px;
                line-height: 1.8;
                color: #333;
                margin: 0;
                text-align: justify;

                .highlight_red {
                  color: #d32f2f;
                  font-weight: 600;
                }
              }
            }
          }
        }

        .award_image_only {
          width: 100%;

          img {
            width: 100% !important;
            height: auto !important;
            display: block;
          }
        }
      }
    }
  }

  .performance_data_section {
    width: 100vw;
    margin: 0 auto;
    background-image: url("https://www.stspcsr.com.tw/images/home/res_bk3.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .performance_data_container {
      width: calc(100vw - 60px);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .head {
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 10px;
        white-space: nowrap;
        position: relative;

        .poly_container {
          position: absolute;
          bottom: -50px;
          z-index: 10;
        }

        > p {
          font-size: 28px !important;
          color: black !important;
        }

        @media (max-width: 768px) {
          width: 80vw;
          margin: 0px 10vw;
          white-space: initial;
        }

        > p {
          color: #024fa1;
          font-size: 24px;
          margin: 0px;
          @media (max-width: 768px) {
            word-break: break-all;
            word-wrap: break-word;
            text-align: center;
          }
        }
      }

      .data_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        padding: 20px 0px;
        border-radius: 5px;
        width: 250px;

        
        .data_value {
          display: flex;
          justify-content: space-around;
          align-items: flex-end;
          > p {
            font-size: 35px;
            color: #024fa1;
            font-weight: 700;
            margin: 0px;
            transform: translateY(7px);
          }

          > span {
            color: #555;
            text-align: center;
            font-size: 13px;
            margin: 0px 0px 0px 10px;
          }
        }

        .data_type {
          display: flex;
          align-items: center;
          gap: 10px;
          >img{
            height: 30px;
          }
          > p {
            margin: 0px;
            color: #555;
            font-weight: 700;
            font-size: 20px;
          }
        }
      }

      .data_container1 {
        grid-area: data_container1;
        background-image: url("/images/home/data_container_bg_3.png");
        background-repeat: repeat;
        background-size: cover;
    
      }

      .data_container2 {
        grid-area: data_container2;
        background-image: url("/images/home/data_container_bg_2.png");
        background-repeat: repeat;
        background-size: cover;
      }

      .data_container3 {
        grid-area: data_container3;
        background-image: url("/images/home/data_container_bg_4.png");
        background-repeat: repeat;
        background-size: cover;
      }

      .data_container4 {
        grid-area: data_container4;
   
      }

      .menu_button {
        grid-area: menu_button;
        display: flex;
        justify-content: center;
        align-items: center;
        > a {
          color: #ffffff;
          font-size: 18px;
          font-weight: 600;
          padding: 6.5px 13px;
          background: $dark-color;
          text-decoration: none;
          transition: 0.5s;

          &:hover {
            border-radius: 15px;
            transition: 0.5s;
          }
        }
      }

      .performance_data_content_container {
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-image: url("/images/home/bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
        opacity: 0.8;
        @media (max-width: 768px) {
          flex-direction: column;
          height: 70vh;
        }
      }

      @media (max-width: 768px) {
        grid-template-columns: 100vw;
        grid-template-rows: auto;
        grid-template-areas:
          "header"
          "data_container1"
          "data_container2"
          "data_container3"
          "data_container4"
          "data_container5"
          "data_container6"
          "menu_button";
      }
    }

    @media (max-width: 768px) {
      width: 100vw;
      height: 100%;
    }
  }

  .content_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "container1 container2"
      "container3 container4";
    max-width: 1280px;
    padding: 0 20px 0 30px 0px;
    width: 100%;
    gap: 30px;
    margin: 24px auto 12px auto;

    .container1 {
      grid-area: container1;
      display: flex;
      flex-direction: column;
      gap: 20px;

      > div {
        > span {
          color: #659acc;
          font-weight: 600;
        }
        > a {
          padding-left: 15px;
          font-size: 16px;
          color: #000;
          text-decoration: none;
          transition: all 0.2s ease-in;

          &:hover {
            text-decoration: underline;
            transition: all 0.2s ease-in;
          }
        }
      }

      .head {
        > h4 {
          font-size: 28px;
          font-weight: 400;
          margin: 0;
          line-height: 1.3;
          padding: 0px 0px 10px 0px;
          border-bottom: 3px solid $main-color;
          width: fit-content;
          transform: translateY(2px);

          > span {
            font-size: 26px;
            font-weight: 400;
            padding-left: 20px;
            color: $main-color;
          }
        }
        border-bottom: 2px dotted #999;
      }

      .more {
        > a {
          color: $dark-color;
          font-size: 14px;
        }
      }

      > iframe {
        width: 100%;
        height: 360px;
        border: 0px;
      }

      .content {
        .content_item {
          display: grid;
          grid-template-columns: 40px 1fr;
          column-gap: 10px;
          height: 70px;

          .line_container {
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: center;

            .circle {
              width: 30px;
              height: 30px;
              border: 3px solid $main-color;
              background-color: white;
              border-radius: 50%;
              background-color: white;
              z-index: 2;
            }

            .line {
              width: 2px;
              height: 90%;
              position: absolute;
              background-color: #999;
            }
          }
        }
      }
    }

    .container2 {
      grid-area: container2;
      .head {
        > h4 {
          font-size: 28px;
          font-weight: 400;
          margin: 0;
          line-height: 1.3;
          padding: 0px 0px 10px 0px;
          border-bottom: 3px solid $main-color;
          width: fit-content;
          transform: translateY(2px);
        }
        border-bottom: 2px dotted #999;
      }
      > iframe {
        padding-top: 10px;
        width: 100%;
        height: 360px;
        border: 0px;
      }
      .more {
        > a {
          color: $dark-color;
          font-size: 14px;
        }
      }
    }

    .container3 {
      grid-area: container3;
      display: flex;
      gap: 30px;
      justify-content: space-between;
      > div {
        width: calc(50% - 15px);
        display: flex;
        flex-direction: column;
        gap: 30px;

        > div {
          width: 100% !important;
        }
      }

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;

        > div {
          width: 100%;
          > div {
            width: 100% !important;
          }
        }
      }
    }

    .data_container4 {
      grid-area: container4;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "container1"
        "container2"
        "container3"
        "container4";
    }
  }

  .divider_section {
    max-width: 1280px;
    margin: 0px auto 48px auto;
    padding: 0 20px;
    height: 30px;
    box-shadow: 17px 19px 21px -13px rgba(74, 74, 74, 0.2);
  }

  .download_section {
    max-width: 1280px;
    margin: 24px auto 48px auto;
    padding: 0 20px;

    @media (max-width: 768px) {
      width: 100vw;
    }

    .head {
      width: 100%;
      margin: 0px 0px 30px 0px;
      text-align: center;
      > h2 {
        font-size: 30px;
        font-weight: 700;
        color: #111;
        margin: 0;
        line-height: 1.3;
        text-transform: uppercase;
      }

      > hr {
        height: 1px;
        background-image: linear-gradient(
          to left,
          transparent,
          rgba(0, 0, 0, 0.2),
          transparent
        );
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee;
      }
    }

    .desktop_slider {
      display: block;
      @media (max-width: 768px) {
        display: none;
      }
    }

    .mobile_slider {
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }
  }

  .links_section {
    display: block;
    max-width: 1280px;
    margin: 24px auto 48px auto;
    padding: 0 20px;
    display: flex;
    gap: 20px;
    @media (max-width: 768px) {
      display: none;
    }
  }

  @media (max-width: 768px) {
    transform: translateY(30px);
    display: flex;
    flex-direction: column;
  }
}

.big_font {
  font-size: 18px;
}

.middle_font {
  font-size: 14px;
}

.small_font {
  font-size: 11px;
}

.page_layout {
  min-height: 70vh;
  max-width: 1280px;
  margin: 20px auto 50px auto;
  display: grid;
  grid-template-columns: 23% 1fr;
  gap: 35px;
  padding: 0px 2.5vw;

  .page_content {
    .page_header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ececec;
      padding: 35px 0px 20px 0px;

      > strong {
        font-weight: 700;
        color: #555;
        font-size: 26px;
        max-width: 450px;
      }
    }
    .page_description {
      > p {
        text-align: justify;
        color: #999;
        line-height: 1.6;
        font-family: "微軟正黑體", "Microsoft JhengHei !important";
        > img {
          width: 25vw !important;
          object-fit: contain;
          position: inherit !important;

          @media (max-width: 768px) {
            width: 100% !important;
          }
        }
      }
      > ul {
        > li {
          text-align: justify;
          font-size: 14px;
          color: #999;
          line-height: 1.6;
          font-family: "微軟正黑體", "Microsoft JhengHei !important";
        }
      }

      > table {
        text-align: justify;
        font-size: 14px;
        color: #999;
        line-height: 1.6;
        font-family: "微軟正黑體", "Microsoft JhengHei !important";
        border: 1px solid #999;

        > thead {
          > tr {
            > td {
              border: 1px solid #999;
              text-align: center;
            }
          }
        }

        > tbody {
          > tr {
            > td {
              border: 1px solid #999;
              text-align: center;
            }
          }
        }
      }
    }

    .page_photo_container {
      padding: 20px 0px 50px 0px;
      max-width: 1280px;
      width: 100%;
      border-radius: 50%;
      border: 2px solid #fff;

      > img {
        width: 100%;
        object-fit: contain;
        position: inherit !important;
      }
    }

    .link_container {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      > p {
        font-size: 14px;
        color: #999;
        line-height: 1.6;
        font-family: "微軟正黑體", "Microsoft JhengHei !important";
      }
      > a {
        font-size: 14px;
        transform: translateX(5px);
      }
    }
  }

  @media (max-width: 768px) {
    width: 90vw;
    grid-template-columns: 1fr;
    gap: 35px;
  }
}
